<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/flat-remix.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    {% block scripts %} {% endblock %}
  </head>

  <body>
    {% include "components/header.html"%} {% include "components/navbar.html"%}

    <div class="overlay off" id="spinner">
      <div class="doble-anillo"></div>
    </div>
   

    <main>{% block contenido %} {% endblock contenido %}</main>

    {% include "components/footer.html" %}
  </body>
</html>
