{% extends "base.html" %}

{% block scripts%}
<script src="/static/js/balance.js"></script>
{% endblock scripts%}

{% block contenido%}
<h1>Balance de movimientos</h1>

<section class="seccion-movimientos">

    <button id="boton-recarga">Recargar</button>

    <table class="paper">
        <thead>
            <tr>
                <th class="titulo-tabla">Fecha</th>
                <th class="titulo-tabla">Concepto</th>
                <th class="titulo-tabla">Tipo</th>
                <th class="titulo-tabla numero">Cantidad</th>
                <th class="titulo-tabla-acciones">Acciones</th>

            </tr>
        </thead>
        <tbody id="cuerpo-tabla">
            <!-- aqui tenemos que cargar los movimiento que leamos de la API -->

        </tbody>




</div>

    </table>

    <!-- <div class="pagination">
    <button class="page-link" data-page="1">&laquo;</button>
        <button class="page-link" data-page="-1">&lt;</button>
        <span class= page-numbers></span>
        <button class="page-link" data-page="1">&gt;</button>
        <button class="page-link" data-page="-1">&raquo;</button>
    </div> -->

<div class="pagination">
  {% if page > 1 %}
    <a href="?page={{ page-1 }}">anterior</a>
  {% endif %}
  
  {% for p in range(1, num_pages+1) %}
    {% if p == page %}
      <span class="current">{{ p }}</span>
    {% else %}
      <a href="?page={{ p }}">{{ p }}</a>
    {% endif %}
  {% endfor %}
  
  {% if page < num_pages %}
    <a href="?page={{ page+1 }}">siguiente</a>
  {% endif %}
</div>
</section>

{% endblock contenido %}