{% extends "base.html" %}

{% block scripts%}
<script src="/static/js/balance.js"></script>
{% endblock scripts%}

{% block contenido%}
<h1>Balance de movimientos</h1>

<section class="seccion-movimientos">

    <button id="boton-recarga">Recargar</button>

    <table class="paper">
        <thead>
            <tr>
                <th class="titulo-tabla">Fecha</th>
                <th class="titulo-tabla">Concepto</th>
                <th class="titulo-tabla">Tipo</th>
                <th class="titulo-tabla numero">Cantidad</th>
                <th class="titulo-tabla-acciones">Acciones</th>

            </tr>
        </thead>
        <tbody id="cuerpo-tabla">
            <!-- aqui tenemos que cargar los movimiento que leamos de la API -->

        </tbody>




</div>

    </table>


</div>
</section>

{% endblock contenido %}